html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color:black;
text-decoration: none;
}
.content_area{
width:1000px;
display: flex;
justify-content: center;
align-items: center;
margin: auto;

}
html, body {
display:block;
background-color: #e9e7e7;
justify-content:center;

position:relative;


}

nav li a strong{
font-weight: 500;
font-size: 16px;
color: white;
text-decoration: none;
display:inline-block;
padding: 0px 10px

}
nav strong{
margin-left:4px;
margin-right:auto;
font-weight: 500;
flex-basis: 16px;
flex-shrink:1;
color: white;
text-decoration: none;
display:inline-block;
padding: 0px 20px

}
nav{
display:flex;
justify-content:flex-end;
align-items: center;
padding:4px;
background-color:#800000;
}
.logo{
height: 50px;
margin-left:5px;
margin-right:4px;
}


.nav_links{
list-style:none;
}

.nav_links li{
display:inline-block;
padding: 0px 5px;
vertical-align:middle;
color:white;
text-decoration: none;
}

.nav_links li a {
transition: all 0.3s ease 0s;
  color:white;
text-decoration: none;
}

.nav_links li a:hover{
color:#5d5d5d;
}
.main_article{
justify-self:center;
width: 700px;
height:200px;
margin:auto;
padding:10px 10px;
justify-content: center;
display:flex;
  transition: all 0.3s ease 0s;
flex-flow: row nowrap;
cursor:pointer;
}

.main_article a{
transition: all 0.3s ease 0s;
padding:0px;

}

.main_article a:hover{
color:maroon;
}

.main_article_text{
padding:0 20px;
display:flex;
flex-flow:column nowrap;
}

.sub_articles{
margin:0px 10vw;
display:flex;
width:80vw;

justify-content:center;
justify-self:center;
gap:10%;
cursor:pointer;
}
.sub_articles a:hover{
color:maroon;
}
.img_sub_article {
display:flex;
width:80%;
height:200px;
min-width:80%;

}
.img_sub_article_text{
display:flex;
width:100%;
flex-flow:column nowrap;
min-width:100%;
  overflow:hidden;

white-space:normal;
}
.text{
white-space:normal;
text-overflow:clip;
overflow:hidden;
line-height:1.8;
}
.sub_article_img{
padding-right:10px;

}
.sub_article{
margin-left:2px;
text-decoration:none;
height:150px;
width:90%;
flex-flow: column nowrap;    
justify-content:left;
display:flex;

overflow:hidden;

}
.sub_article main_article_text h1 h2 text{
transition: all 0.3s ease 0s;
}

.sub_article main_article_text text h1 h2:hover{
color:maroon;
}


.rounded{
width:80%;
align-self: center;
justify-self:center;
}
.list_thing{
list-style-type:none;
display:inline-block;

}

.left_side_articles{
width:50%;
display:flex;
flex-flow: column nowrap;
gap: 20px;
  overflow:hidden;
}
.right_side_articles{
width:50%;
display:flex;
flex-flow: column nowrap;
gap:20px;
}

.footer{
display:flex;
height:80px;
justify-content:flex-end;
align-items: center;
padding:2px;
background-color:#817474;
}

.article_page{
display:flex;
margin:auto;
width:1000px;
background-color:white;  
flex-flow: column nowrap;
justify-self:center;
justify-content: center;
padding:10px;
}
.byline{
display:flex;
flex-flow:row nowrap;
}
.article_img{
width:100%;
padding:10px 0px;
}

.title{

padding:5px 10px;
font-size:x-large;
}
.subtitle{
  padding:5px 10px;
  font-size:large;
}
.tags{

display:flex;
flex-flow:row;
}
.tag_bubble{
border-radius:10px;
background-color:#d6d6d6;
margin:5px 10px;

padding:2px 5px;
transition: all 0.3s ease 0s;
}
.tag_bubble:hover{background-color:#b3b3b3}
.article_text{
padding:0px 10px;
white-space:normal;
text-overflow:clip;
overflow:hidden;
line-height:1.8;
}

.recommended_article{
display:flex;
flex-flow:column nowrap;
margin:auto;

width:1000px;
justify-self:center;
justify-content:center;
}

form {
max-width: 500px;
margin: 0 auto;
padding: 20px;
border: 1px solid #ccc;
border-radius: 5px;
background-color: #f2f2f2;
}

form label {
display: block;
margin-bottom: 10px;
}

form input[type="text"],
form textarea {
width: 100%;
padding: 10px;
margin-bottom: 20px;
border-radius: 5px;
border: 1px solid #ccc;
box-sizing: border-box;
font-size: 16px;
color: #333;
}

form input[type="submit"] {
background-color: #4CAF50;
color: #fff;
border: none;
padding: 10px 10px;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
}

form input[type="submit"]:hover {
background-color: #3e8e41;
}

.search_bar {
background-color: #c1c3c2;
display:inline-block;
width:250px;
height:34px;

margin-right:5px;
border: 2px black solid;
}
.search_column{
display:none;
flex-flow:column;
width:50%;

}
.search_checkbox{
width:100px;

}
.profile{
clip-path: circle();
height:50px;
width:50px;

}

.dropdown {

display:flex;
margin:0px 0px;
padding:0px;
border:0px;
background:maroon;
}

.dropdown_content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 250px;
margin-top:34px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown_content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.search_label{
font-size: 16px;
margin:0px;
display:inline-block;

}
.dropdown_content a:hover {background-color: #ddd;}

.dropdown:hover .search_column{display:flex;}.dropdown_content {display: flex; flex-flow:row;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.search_icon{
height:30px;
background:#c1c3c2;
margin:0px;
vertical-align: center;
border:2px black solid;
transition: all 0.3s ease 0s;
}

.search_icon:hover{ background:#9e9e9e}


.likes_views{
height:20px;
display:flex;
flex-flow:row;
justify-self:right;
align-self:flex-end;
}
.likes_views_img{
padding:0px 2px;
margin:0px;
height:20px;
width:20px;
}
.like_button_img{
height:30px;
width:30px;
background-color:transparent;

}
.like_button{
background-color:white;
border:transparent 0px;


} 
.like_button_img:hover {filter: sepia(100%) hue-rotate(180deg)}