{% extends 'main/base.html' %}

{% block content %}
<div class="article_page">
  <div class="byline">
    <img src={{article.authorimg}} height=50px width=50px>
    <div class="list_thing">
      <ul>
        <h2>
          {{article.authorname}}
        </h2>
      </ul>
      <ul>
        <p1>{{article.date}}</p1>
      </ul>

      </h1>
    </div>
  </div>
  <img src={{article.img}} class="article_img">
  <h1 class="title">{{article.title}}</h1>
  <h2 class="subtitle">{{article.subtitle}}</h2>
  <div class="tags">
    {% for tag in tag_list %}
    <button class="tag_bubble">{{tag}}</button>
    {% endfor %}

  <p3 class="article_text">
    {{article.text}}
  </p3>
</div>
{% for article in recommended_articles %}
  <hr class="rounded">
    
  <div class="recommended_article">
    <h1 class="title">{{article.title}}</h1>
    <h3 class="subtitle">{{article.subtitle}}</h3>
  </div>
{% endfor %}
{% endblock %}