{% extends "base.html"%}

{% block content %}
<div class="article_page">
    <div class="byline">
    <img src={{author_profile}} height= 50px width=50px> 
    <div class="list_thing">
      <ul>
        <h2>
              {{author_name}}
        </h2>
      </ul>
      <ul>      <p1>{{article_date}}</p1></ul>

    </h1>
    </div>
    </div>
    <img src={{article_img}} class="article_img">
    <h1 class="title">{{article_title}}</h1>
    <h2 class="subtitle">{{article_subtitle}}</h2>

    <p3 class ="article_text">
      {{article_text}}
    </p3>
  </div>
  <hr class="rounded">
  <div class="recommended_article">
    <h1 class="title">{{rec_title_1}}</h1>
    <h3 class="subtitle">{{rec_subtitle_1}}</h3>
    <p2 class="article_text">{{rec_text_1}}</p2>
  </div>
  <hr class="rounded">
<div class="recommended_article">
  <h1 class="title">{{rec_title_2}}</h1>
  <h3 class="subtitle">{{rec_subtitle_2}}</h3>
  <p2 class="article_text">{{rec_text_2}}</p2>
</div>
{% endblock %}