<!-- 
form.html
Ver. 1.0
June 4, 2023
This file is the form where users can submit their own articles to be reviewed and potentially published
-->

<!--# This html fole comes from https://www.youtube.com/watch?v=sm1mokevMWk&t=9662s - it's the frontend of the form that takes in parameters from views.py
-->

{% extends 'main/base.html' %}

{% block title %} Submit an Article {% endblock %}

{% block content %}
  <form method="post" action="/submit_form/" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="submit" href="/thanks">Submit Article</button>
  </form>

{% endblock %}