{% extends 'main/base.html' %}

{% block content %}

<div class="main_article">
    <img src="django_backend/django_backend/django_main/templates/main/images/test_image.jpeg" alt="Test">
    <header class="main_article_text">

       <a href= "">
            <h1>
      Article 1
              
      </h1>
       </a> 

      <p1>
       DD/MM/YYYY, Author Name 
      </p1>
      <p2 class="text">
        

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec malesuada sapien. Vestibulum dui est, viverra nec leo non, blandit tempus dui. Nulla iaculis felis a sem malesuada, molestie aliquam lacus venenatis. Proin non molestie dolor. Morbi id urna eget dui finibus fermentum eu ut purus. Sed molestie sapien ut purus ultricies fringilla. Nulla fringilla felis urna, in mattis lorem condimentum nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut et ultrices urna. Aenean lectus erat, cursus ut erat in, malesuada egestas nibh. Quisque lorem nunc, pellentesque ac lacinia vel, vestibulum vel urna.

      </p2>
    </header>

    
</div>
<hr class = "rounded">
<div class="sub_articles">
  <div class="left_side_articles">
   <div class = "img_sub_article">
      <img class="sub_article_img" src = "django_backend/django_backend/django_main/templates/main/images/sub_article_img.jpg" alt="Sub Article Img">
     <div class="img_sub_article_text">
      <h2>
      Title of Article WIth Image
    </h2>
     <p2>
       DD/MM/YYYY
     </p2>
    <p3 class = "text">

      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec malesuada sapien. Vestibulum dui est, viverra nec leo non, blandit tempus dui. Nulla iaculis felis a sem malesuada, molestie aliquam lacus venenatis. Proin non molestie dolor. Morbi id urna eget dui finibus fermentum eu ut purus. Sed molestie sapien ut purus ultricies fringilla. Nulla fringilla felis urna, in mattis lorem condimentum nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
    </p3>
     </div>
   </div>
  <hr class="rounded">
       <div class = "img_sub_article">
      <img class="sub_article_img" src = "django_backend/django_backend/django_main/templates/main/images/sub_article_img.jpg" alt="Sub Article Img">
     <div class="img_sub_article_text">
      <h2>
      Title of Article WIth Image
    </h2>
     <p2>
       DD/MM/YYYY
     </p2>
    <p3 class = "text">

      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec malesuada sapien. Vestibulum dui est, viverra nec leo non, blandit tempus dui. Nulla iaculis felis a sem malesuada, molestie aliquam lacus venenatis. Proin non molestie dolor. Morbi id urna eget dui finibus fermentum eu ut purus. Sed molestie sapien ut purus ultricies fringilla. Nulla fringilla felis urna, in mattis lorem condimentum nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p3>
     </div>
   </div>
    <hr class="rounded">
       <div class = "img_sub_article">
      <img class="sub_article_img" src = "django_backend/django_backend/django_main/templates/main/images/sub_article_img.jpg" alt="Sub Article Img">
     <div class="img_sub_article_text">
      <h2>
      Title of Article WIth Image
    </h2>
     <p2>
       DD/MM/YYYY
     </p2>
    <p3 class = "text">

      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec malesuada sapien. Vestibulum dui est, viverra nec leo non, blandit tempus dui. Nulla iaculis felis a sem malesuada, molestie aliquam lacus venenatis. Proin non molestie dolor. Morbi id urna eget dui finibus fermentum eu ut purus. Sed molestie sapien ut purus ultricies fringilla. Nulla fringilla felis urna, in mattis lorem condimentum nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p3>
     </div>
   </div>
  <hr class="rounded">
  </div>
  <div class="right_side_articles">
     <div class = "sub_article">

        <h2>
        Title of Article WIthout Image
        </h2>
        <p2>
        DD/MM/YYYY
        </p2>
        <p3 class = "text">

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec malesuada sapien. Vestibulum dui est, viverra nec leo non, blandit tempus dui. Nulla iaculis felis a sem malesuada, molestie aliquam lacus venenatis. Proin non molestie dolor.
        </p3>

    </div>
  <hr class="rounded">
       <div class = "sub_article">

        <h2>
        Title of Article WIthout Image
        </h2>
        <p2>
        DD/MM/YYYY
        </p2>
        <p3 class = "text">

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec malesuada sapien. Vestibulum dui est, viverra nec leo non, blandit tempus dui. Nulla iaculis felis a sem malesuada, molestie aliquam lacus venenatis. Proin non molestie dolor. 
        </p3>

    </div>
      <hr class="rounded">
      <div class = "sub_article">

        <h2>
        Title of Article WIthout Image
        </h2>
        <p2>
        DD/MM/YYYY
        </p2>
        <p3 class = "text">

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec malesuada sapien. Vestibulum dui est, viverra nec leo non, blandit tempus dui. Nulla iaculis felis a sem malesuada, molestie aliquam lacus venenatis. Proin non molestie dolor. 
        </p3>

    </div>
      <hr class="rounded">
      <div class = "sub_article">

        <h2>
        Title of Article WIthout Image
        </h2>
        <p2>
        DD/MM/YYYY
        </p2>
        <p3 class = "text">

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec malesuada sapien. Vestibulum dui est, viverra nec leo non, blandit tempus dui. Nulla iaculis felis a sem malesuada, molestie aliquam lacus venenatis. Proin non molestie dolor. 
        </p3>

    </div>
      <hr class="rounded">
  </div>
</div>
</body>
<div class="footer">
  
</div>
{% endblock %}