{% extends 'main/base.html' %}

{% block content %}

  <div class="main_article">
    <img src={{article1.img}} alt="Main Article Image">
    <header class="main_article_text">

      <a href={{article1.id}}>
        <h1>
          {{article_1.title}}

        </h1>
      </a>

      <p1>
        {{article1.date}}, {{article1.author}}
      </p1>
      <p2 class="text">
        {{article1.subtitle}}

      </p2>
    </header>


  </div>
  <hr class="rounded">
  <div class="sub_articles">
    <div class="left_side_articles">
      {% for article in article_list2 %}
      <div class="img_sub_article">
        <img class="sub_article_img" src={{article.img}} alt="Sub Article Image">
        <div class="img_sub_article_text">
          <a href={{article.id}}>
            <h2>
              {{article.title}}
            </h2>
          </a>

          <p2>
            {{article.date}}
          </p2>
          <p3 class="text">
            {{article.subtitle}}
          </p3>
        </div>
      </div>
      <hr class="rounded">
      {% endfor %}

    </div>
    <div class="right_side_articles">
      {% for article in article_list3 %}
      <div class="sub_article">
        <a href=article.id>
          <h2>
            {{article.title}}
          </h2>
        </a>

        <p2>
          {{article.date}}
        </p2>
        <p3 class="text">
          {{article.subtitle}}
        </p3>

      </div>
      <hr class="rounded">
      {% endfor %}

    </div>
  </div>
</body>
<div class="footer">

</div>
{% endblock %}